@charset "UTF-8";

body	{font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;}


/* Ａ: ナビゲーションバー */
.menu	{margin: 0} 

.menu .navbar-brand	{font-family: 'Francois One', sans-serif;}


/* Ｂ: 紹介記事その１ */
.about-app	{padding: 120px 0 0 0;
	background-color: #dfe3e8;}

.about-app img	{display: block;
	max-width: 100%;
	height: auto;
	margin: 100px auto 0 auto;
	vertical-align: bottom;}

.about-app h1	{margin: 0 0 20px 0;
	font-size: 36px;
	font-family: 'Francois One', sans-serif;
	line-height: 1.2;}

.about-app p	{margin: 0 0 20px 0;
	font-size: 20px;
	line-height: 1.6;}


/* 背景画像の設定 */
.about-app	{background-image: url(img/bg_test2.jpg);
	background-position: 30% 50%;
	background-size: cover;
	color: #fff;
	text-shadow: 2px 2px 5px #000;}
	
	.col-sm-12{
    max-width: 1200px;
    margin: -100px auto 0;
   /* background-color: #666*/
}

	
	
	#logo {
    padding: 20px 100px;
    text-align: center;
}

    #logo
    img {
    max-width: 120px;
    border: 5px solid #fff;
    border-radius: 100%;
}

.about-app .button	{text-shadow: none;}


/* メディアクエリの設定 */
@media (max-width: 450px) {

	.about-app	{padding: 60px 0 0 0;}
	.about-app h1	{font-size: 28px;}
	.about-app p	{font-size: 14px;}

} /* @media */







/* Ｅ: 紹介記事その４ */
.about-more	{padding: 80px 0 80px 0;
	background-color: #fff;
	text-align: center;}

.about-more img	{max-width: 100%;
	height: auto;
	margin: 20px auto 30px auto;
	vertical-align: bottom;}

.about-more h2	{margin: 0 0 20px 0;
	font-size: 28px;
	line-height: 1.2;}

.about-more p	{margin: 0 0 20px 0;
	font-size: 16px;
	line-height: 1.6;}
	
.about-more h3	{margin: 0 0 20px 0;
	font-size: 20px;
	line-height: 1.2;}

.about-more p	{margin: 0 0 20px 0;
	font-size: 14px;
	line-height: 1.6;}

.about-more h4	{margin: 30px 0 20px 40px;
	font-size: 24px;
	line-height: 1.2;}

	
	

/* Ｆ: フッター */
.footer	{padding: 20px 0 20px 0;
	background-color: #000;
	color: #fff;}

.footer p	{margin: 0 0 3px 0;
	font-size: 12px;
	line-height: 1.4;}

.footer a	{color: #666;
	text-decoration: none;}

